<script src="static/js/lang.js"></script>
<h3 data-l10n-id="join-members-title"></h3>
<div>

  <table class="table table-condensed">
    <thead><tr><td>#</td><td>Name</td></tr></thead>
    <tr class="active"><td>01.</td><td>Pierros Papadeas</td></tr>
    <tr class="active"><td>02.</td><td>Eleftherios Kosmas</td></tr>
    <tr class="active"><td>03.</td><td>Vasilis Tsiligiannis</td></tr>
    <tr class="active"><td>04.</td><td>Malina Tz</td></tr>
    <tr class="active"><td>05.</td><td>Alexandros Chronopoulos</td></tr>
    <tr class="active"><td>06.</td><td>Sophoklis Goumas</td></tr>
    <tr class="active"><td>07.</td><td>Tasos</td></tr>
    <tr class="active"><td>08.</td><td>Giannis Giannelos</td></tr>
    <tr class="active"><td>09.</td><td>Manthos Papamatthaiou</td></tr>
    <tr class="active"><td>10.</td><td>Konstantina Papadea</td></tr>
    <tr class="active"><td>11.</td><td>Lenio Litra</td></tr>
    <tr class="active"><td>12.</td><td>Manos Theodoridis</td></tr>
    <tr class="active"><td>13.</td><td>Dimitris Lianos</td></tr>
    <tr class="active"><td>14.</td><td>Alfredos Damkalis</td></tr>
    <tr class="active"><td>15.</td><td>Apostolos Masiakos</td></tr>
    <tr class="active"><td>16.</td><td>Alexandros Tsourapas</td></tr>
    <tr class="active"><td>17.</td><td>Achilleas Pipinellis</td></tr>
    <tr class="active"><td>18.</td><td>Dorothea</td></tr>
    <tr><td>19.</td><td>Thanasis Tomaras</td></tr>
    <tr class="active"><td>20.</td><td>Aris Stathakis</td></tr>
    <tr class="active"><td>21.</td><td>Nikitas Chronas</td></tr>
    <tr class="active"><td>22.</td><td>Benoît Durandin</td></tr>
    <tr class="active"><td>23.</td><td>Ilias Daradimos</td></tr>
    <tr><td>24.</td><td>George Panagiotakopoulos</td></tr>
    <tr class="active"><td>25.</td><td>Taky Argentino</td></tr>
    <tr><td>26.</td><td>Evangelos Nastos</td></tr>
    <tr><td>27.</td><td>Stavros</td></tr>
    <tr><td>28.</td><td>Yorgos S</td></tr>
    <tr class="active"><td>29.</td><td>Agisilaos Zisimatos</td></tr>
    <tr class="active"><td>30.</td><td>Harry P</td></tr>
    <tr class="active"><td>31.</td><td>Aris Nikas</td></tr>
    <tr class="active"><td>32.</td><td>George T</td></tr>
    <tr class="active"><td>33.</td><td>Mike B</td></tr>
  </table>

  <small data-l10n-id="join-members-footer"></small>
</div>
