<script src="static/js/lang.js"></script>
<h3 data-l10n-id="support-supporters-title"></h3>
<div>
  <table class="table table-condensed supporters">
    <caption>2018</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://libre.space/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Lsf.jpg"></a></td><td>Donation</td></tr>
    <tr><td><a href="https://www.grnet.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Grnet.jpg"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.watt-volt.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Watt-volt.png"></a></td><td>Electricity Discount</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>

  <table class="table table-condensed supporters">
    <caption>2017</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://libre.space/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Lsf.jpg"></a></td><td>Donation</td></tr>
    <tr><td><a href="https://www.grnet.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Grnet.jpg"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.watt-volt.gr/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Watt-volt.png"></a></td><td>Electricity Discount</td></tr>
    <tr><td><a href="https://www.digitalocean.com/" target="_blank"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/DigitalOcean.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>

  <table class="table table-condensed">
    <caption>2016</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://libre.space/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Lsf.jpg"></a></td><td>Donation</td></tr>
    <tr><td><a href="https://www.grnet.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Grnet.jpg"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>



  <table class="table table-condensed">
    <caption>2015</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://www.lulzbot.com/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/LulzBot.png"></a></td><td>3D Printer</td></tr>
    <tr><td><a href="https://www.mozilla.org/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mozilla-wordmark.png"></a></td><td>Internet</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Virtual Private Server</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>



  <table class="table table-condensed">
    <caption>2014</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://www.mozilla.org/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mozilla-wordmark.png"></a></td><td>Internet</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Virtual Private Server</td></tr>
    <tr><td><a href="http://www.awmn.net/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Awmn.png"></a></td><td>Financial Contribution</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>


  <table class="table table-condensed">
    <caption>2013</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://www.lulzbot.com/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/LulzBot.png"></a></td><td>3D Printer</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Virtual Private Server</td></tr>
    <tr><td><a href="http://www.robotstore.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Robotstore.png"></a></td><td>FPGA</td></tr>
    <tr><td><a href="http://www.linuxinside.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/LinuxInside.png"></a></td><td>Magazine Subscription</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
    <tr><td><a href="http://deltahacker.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/DeltaHacker.jpg"></a></td><td>Magazine Subscription</td></tr>
  </table>


  <table class="table table-condensed">
    <caption>2012</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="http://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Virtual Private Server</td></tr>
    <tr><td><a href="http://www.linuxinside.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/LinuxInside.png"></a></td><td>Magazine Subscription</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
    <tr><td><a href="http://deltahacker.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/DeltaHacker.jpg"></a></td><td>Magazine Subscription</td></tr>
  </table>


  <table class="table table-condensed">
    <caption>2011</caption>
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="http://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Virtual Private Server</td></tr>
    <tr><td><a href="http://www.eellak.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Eellak.png"></a></td><td>Projection System</td></tr>
    <tr><td><a href="http://www.hellug.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Hellug.png"></a></td><td>Equipment</td></tr>
  </table>
</div>
